*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
    color: #f2f2f2;
}



.navbar{
    display: grid;
    background-color: #1C1C1C;
    color: white;
    width: 100vw;
    height: 70px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 18px;
    padding: 0 120px;
    position: fixed;
    z-index: 1111;
}

.navbar a{
    color: #F2F2F2;
    text-decoration: none;
}

.left-nav ul{
    display:flex;
    width: 100%;
    justify-content: flex-start;
}

.left-nav ul li{
    align-items: center;
    list-style-type: none;
    margin-right: 60px;
}

.stack-logo{
    width: 90px;
}

.right-nav ul{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.right-nav ul li{
    list-style-type: none;
    margin-left: 60px;
}

.home{
    
}


.header{
    background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
     padding: 140px 120px;
     height: 100vh;
     display: flex;
     flex-direction: column;
}

.header h1{
    font-size: 40px;
    text-align: justify;
    letter-spacing: 1px;
}

.header h2{
    font-size: 40px;
}

.header h5{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

.offer-text{
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    font-size: 24px;
    word-spacing: 4px;
    letter-spacing: 1px;
    gap: 10px;
}

.one-logo{
    margin-top: 10px;
    width: 200px;
    height: auto;
}

.know-more-link{
    color: #F2F2F2;
    font-size: 14px;
}

.btn{
    background-color: #F2F2F2;
    color: #121212;
    padding: 10px 16px;
    border-radius: 30px;
    outline: none;
    border: none;
    width: fit-content;
    font-size: 18px;
    font-weight: 500;
}
.download-btn{
    font-size: 22px;
    font-weight: 700;
    margin-top: 35px;
    align-self: center;
}

.intro{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 120px 100px;
    width: 100%;
}

.person-card{
    width: 200px;
}

.person-image{
    width: 200px;
    max-height: 300px;
    border-radius: 12px;
}

.intro-text{
    margin-top: 5px;
    text-align: center;
}

.strategy{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px 100px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.strategy-card{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    color: #F2F2F2;
    border-radius: 12px;
    padding: 15px;
    border: 1px solid black;
    margin-top: 20px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.strategy-card-bottom-text{
    display: flex;
    justify-content: space-between;
    background-color:#000000;
    padding:6px 10px;
    font-size: 16px;
    font-weight: 200;
    outline-color: #F2F2F2;
    color: #F2F2F2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.help-section{
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr;
    padding: 120px 100px;
}

.export-card{
    display: grid;
    padding: 20px 20px;
    margin-top: 50px;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    min-width: 300px;
    align-items: center;
    border-radius: 15px;
    background-color: #1C1C1C;
background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.export-card img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.question-box{
    width: 500px;
    margin: 50px 0 20px 0;
    background-color: #1C1C1C;
    padding:20px;
    border-radius: 10px;
    max-height: 430px;
    overflow-y: auto;

}

.ans-box{
    font-weight: 200;
    transition: 0.5s;
    margin: 10px 0 10px 0;
    text-align: justify;
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent; /* Set to the background color you want */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px; /* Set to the color you want for the scrollbar handle */
  }

  ::-webkit-scrollbar-thumb:hover{
    background-color: #f2f2f2cd;
  }

  .divider{
    width: 100%;
    background-color: #888;
    margin-top: 10px !important;
  }
  .faq-btn{
    margin-top: 20px !important;
  }

  .rewards-line-box{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: #1C1C1C;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    border-radius: 8px;
  }

  .rewards-line-box img{
    width:200px;
  }

  .safety-message{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
    width: 100%;
  }
.safety-message img{
    width: 200px;
}

.safety-message h3{
    width: 35%;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 120px 100px;
}

.footer-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-size: 22px;
    height: 300px;
}

.footer-col img{
    width: 150px;
    padding-bottom: 10px;
}

.footer-social-icon{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-col a{
    color: #F2F2F2;
    text-decoration: none;
}

.footer-col li{
    list-style-type: none;
}












/* --------------------------------------------- sip-calculator ------------------------------------------------ */


.sip-calculator{
    background-color: #1C1C1C;
    width: 500px;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
    border-radius: 8px;

}

.calcInput{ 
    width: 60px;
    
    float:right;
}
